<div class="row-fluid">

    <div class="span6 push-down-20">
        <section class="contact-form-container">

            <h3 class="push-down-25"><span class="light">لیست</span> مدیران پروژه</h3>

            <form id="commentform" method="post" action="#" class="form form-inline form-contact">
                <p class="push-down-20">
                    <select  name="Cars" >
                        <option value="Merceders">  </option>
                       
                    </select>
                    <label for="author">نام مدیر<span class="red-clr bold">*</span></label>
                </p>
            </form>
        </section>
    </div>

    <div class="span6 push-down-20">
        <section class="contact-form-container">

            <h3 class="push-down-25"><span class="light">لیست</span> عناوین پروژه</h3>

            <form id="commentform" method="post" action="#" class="form form-inline form-contact">
                <p class="push-down-20">
                    <!-- <li *ngFor="let hero of AdminList">
                        <button  type="button" (click)="onSelect(hero)">
                          <span class="badge">{{hero.id}}</span>
                          <span class="name">{{hero.name}}</span>
                        </button>
                      </li> -->
                    <label for="author">نام عنوان<span class="red-clr bold">*</span></label>
                </p>
            </form>
        </section>
    </div>

</div>